**__pycache__**
**egg-info**
# **dist**
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/detection/models/.ipynb_checkpoints/
/detection/data/
/detection/output
/detection/output/
/detection/output_s2
/detection/output_s2/
/detection/ckpt/
/detection/
/utils/
/detection
/utils
*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*.npy
*.DS_Store
